# Ignore build output
bin/
obj/

# Ignore compiled binaries
*.dll
*.exe

# Ignore debug symbols
*.pdb

# Ignore Visual Studio files
*.suo
*.user
*.vs/

# ignore ALL .log files
*.log

.git/
.vs/
/Business Core/bin
/Business Core/obj

/DataAccess/obj
/DataAccess/bin

/paen-chat-app-server/obj
/paen-chat-app-server/bin

/Presentation/obj
/Presentation/bin

.vs/paen-chat-app-server/v17
.vs/paen-chat-app-server/v17/.suo